{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <div>
<ul>
	<h1> vous trouverez ci déssous la liste des théses</h1>
</ul>
</div>

<div>
<ul>
	<h2> Sujet N°1 </h2>
	<p>
		Analyse chez les cyanobactéries de la sélectivité/redondance des glutathion-S-transférases</p> 
		<p>conservées par l'évolution: role dans la fixation du CO2 et la résistance aux stress</p> 
		<p>(températures, radiations et polluants)
	</p>
	</ul>
</div>

<div>
<ul>
	<h3> SUjet N°2</h3>
		<p> Developmental epigenetics to better understand carbon cycle on earth : </p>
		<p> deciphering the roles of Jumonji domain containing proteins in Podospora anserina</p>

</ul>
</div>


<div>
<ul>
	<h4> Sujet N°4</h4>
		<p> Etude des mécanismes de biosynthèse des synthétases de peptides non-ribosomiques </p>
		<p>par biologie de synthèse</p>
	
</ul>
</div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/bocar/mesProjetM2/symfony/responsiveskeleton-master/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/bocar/mesProjetM2/symfony/responsiveskeleton-master/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
